:root{



/* ### Primary */

--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);

/* ### Neutral */

--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100svh;
    background-color: hsl(204, 43%, 93%)
}


div{
    display: flex;
    flex-direction: column;
place-items: center;
  /* border: solid 1px black; */
  /* min-height: 100px; */
  height: 100svh;
  

  
  
}

main{
/* border: solid 1px black; */
max-width: 80%;
margin-inline: auto;
min-height: 60svh;
}

#div1{
    background-color: white;
    grid-area:div1;
    border-radius: 10px 10px 0 0;
    width: 350px;
}
#div2{
background-color: blue;
grid-area: div2;
width: 350px;
}
#div3{
background-color: blueviolet;
grid-area: div3;
border-radius: 0px 0px 10px 10px;
width: 350px;
}

#Hoved {
    color: var(--Cyan);
    
}

#dager{
    color: var(--Bright-Yellow);
    padding-top: 20px;
}

#P1{
    color: var(--Light-Gray);
    font-size: 16px;
    padding-top: 20px;
}











/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */



    /* grid-template-rows: auto;
grid-template-columns: repeat(2, minmax(100px, 1fr));
grid-template-areas: 
"div1 div1"
"div2 div3"; */