:root {
  --font-family-karla: "Karla", sans-serif;

  /* ### Primary */

  --Cyan: hsl(179, 62%, 43%);
  --Cyan2: hsla(179, 62%, 43%, 40%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* ### Neutral */

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-karla);
}
body {
  padding: 30px;
  min-height: 100svh;
  background-color: var(--Grayish-Blue);
}

div {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100svh;
}

main {
  max-width: 80%;
  margin-inline: auto;
  min-height: 60svh;
}

#join-card {
  background-color: white;
  border-radius: 10px 10px 0 0;

  
}

/* #monthly-card > * {
  width: 100%;
} */

#monthly-card {
  background-color: var(--Cyan);

  
}

#why-card {
  background-color: blueviolet;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--Cyan2);
  text-align: center;
  
}
.card {
    height: 5em;
    width: 300px;
  padding: 1em;
  color: white;
}
#join {
  color: var(--Cyan);
}

#dager {
  color: var(--Bright-Yellow);
  padding: 1em 0;
}

#P1 {
  color: hsla(0, 0%, 50%, 0.587);
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

#btn {
  background-color: var(--Bright-Yellow);
  height: 40px;
  border-radius: 0.35rem;
  border: none;
  width: 80%;
}

#sign {
  color: white;
}

.monthly {
  color: white;
  padding: 1em 0;
}

#p2 {
  color: white;
  width: 100%;
  text-align: start;
  font-size: 30px;
}

#p4 {
  color: white;
  padding: 1em 0;
}

#per {
  color: hsla(180, 100%, 50%, 0.272);
  font-size: 18px;
}

#about {
  width: 100%;
  text-align: start;
  color: lightgray;
}

.title {
  width: 100%;
  text-align: start;
}

#whyus {
  padding-bottom: 10px;
}

/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

@media only screen and (min-width: 500px) {
  main {
    max-width: 70%;
    display: grid;
    grid-template-columns: [første]1fr [andre]1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .card{
      width: 100%;
      height: 100%;
  }
  #join-card {
    grid-column-start: første;
    grid-column-end: -1;
    grid-row: 1 / 2;
  }
  #monthly-card {
  }
  #why-card {
  }
}
